<div class="about-body">
  <div class="conteiner">
    <div class="row">
      <div class="col-md-offset-3 col-md-6">
        <div class="about-main">
          <h2 class="text-center">「FilmShere」の使い方</h2>
          <ul>
            <li>当サイトはは映画、ドラマ、アニメなどの感想を投稿するSNSです</li>
            <li>会員登録をして感想を共有しよう</li>
            <li>気に入った投稿にはいいねをしよう</li>
            <li>他のユーザーの投稿に話しかけてみよう</li>
            <li>気に入ったユーザーはフォローすることができます</li>
        </ul>
        </div>
      </div>
    </div>
  </div>
</div>