// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.post-body{
  background-color: #f5f5f5;
  background-size: cover;
  margin-top: -30px;
}

.post-new-body{
  background-image: image-url("movie1.jpeg");
  background-size: cover;
  padding-bottom: 50px;
  margin-top: -30px;
}

.post-show-body{
  background-color: #c0c0c0;
  background-size: cover;
  margin-top: -30px;
}

.post-group{
  background-color: #ffffff;
  opacity: 0.8;
  border-radius: 10px;
  padding: 20px;
}

.post-new-group{
  background-color: #ffffff;
  opacity: 0.9;
  border-radius: 10px;
  padding: 20px;
  margin-top: 50px;
}

.post-show-group{
  background-color: #ffffff;
  opacity: 0.8;
  border-radius: 10px;
  padding: 20px;
  margin: 50px 0px 430px;
}

.post-edit-group{
  background-color: #ffffff;
  opacity: 0.8;
  border-radius: 10px;
  padding: 20px;
  margin: 50px 0px 90px;
}

.show-title{
  font-size: 20px;
}

.show-category{
  color: #808080;
  margin-right: 20px;
}

.show-genre{
  color: #808080;
}

.show-opinion{
  margin: 10px 0 15px;
}